.listContainer{
	display: flex;
	flex-direction: column;
	width: calc(100% - 20px);
	padding: 10px;
	
	gap: 3px;
}

.listItem{
	background-color: #F5F5F5;
	align-items: center;
	display: flex;
}

.listText{
	width: 920px;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	padding-left: 5px;
}

.listButton{
	background-color: #F5F5F5;
	height: 30px;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
	line-height: 30px;
	text-align: center;
	color: black;
}

.listButton:hover{
	background-color: #B2C9E6;
}