.body{
	background-color:#606062;
}

.userContainer{
	position:absolute;
	width: calc(100vw - 200px);
	max-width: 1200px;
	height: calc(100vh - 40px);
	top:20px;
	left:50%;
	transform:translateX(-50%);
	background-color: grey;
}

.userName{
	font-size: 42px;
	color: white;
	padding: 5px 0 0 10px;
}

.lessionList{
	display: grid;
	padding: 10px;
	gap: 2px;
}
.lessionItem{
	height: 35px;
	background-color: #868686;
	position:relative;
}

.lessionName{
	color: white;
	line-height: 35px;
	font-size: 26px;
}

.buttonContainer{
	display: grid;
	direction: rtl;
	grid-auto-flow: column;
	position: absolute;
	right: 10px;
	width: 40%;
	top:3px;
	height: 28px;
	gap: 10px;
	grid-auto-columns: 120px;
}

.lessionButton{
	text-align: center;
	line-height: 28px;
	height: 100%;
	background-color: orange;
	text-decoration: none;
	color: black;
}

.lessionButton:hover{
	background-color: #ffc964;
}
