<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Admin panel</title>
	
	<link rel="stylesheet" th:href="@{/css/user.css}" />
	<link rel="stylesheet" th:href="@{/css/basic.css}" />
	<link rel="stylesheet" th:href="@{/css/list.css}" />
</head>

<body class="body">
	<div class="userContainer">
		<div class="userName">Admin Panel</div>
		<hr>
		<div class="buttonContainerWide">
			<a class="lessionButton" href="/admin/students">Students</a>
			<a class="lessionButton" href="/admin/teachers">Teachers</a>
			<a class="lessionButton" href="/admin/lessions">Lessions</a>
		</div>
		<hr>
		<div class="listContainer">
			<a th:if="${student}" href="/newStudent" class="listButton">ADD NEW STUDENT</a>
			<div th:each="listItem, iter:${list}" class="listItem">
				<div th:text="${listItem}" class="listText"> </div>
				<!-- STUDENT -->
				<a th:if="${student}" 
					th:href="@{deleteStudent/{studentId}(studentId=${studentList[iter.index].id})}" 
					class="listButton center"
					th:attr="onclick=|if(!(confirm('Are you sure you want to delete [${listItem}]'))) return false|">DELETE</a>
					
				<a th:if="${student}" 
				th:href="@{/student/{studentId}(studentId=${studentList[iter.index].id})}" 
				class="listButton center">VIEW</a>
				
				<!-- LESSION -->
				<a th:if="${lession}"></a>
				<a th:if="${lession}" 
				th:href="@{/lession/{id}(id=${lessions[iter.index].id - 1})}" 
				class="listButton center">STUDENTS</a>
				
				<!-- TEACHER -->
				<a th:if="${teacher}"></a>
				<a th:if="${teacher}" 
				th:href="@{/teacher/{id}(id=${teachers[iter.index].id - 1})}" 
				class="listButton center">VIEW</a>
			</div>
		</div>
	</div>
	
</body >
</html>