<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>School demo</title>
	
	<link rel="stylesheet" th:href="@{/css/login.css}" />
</head>

<body class="body">

	<div class="loginContainer">
		<div class="loginUser">
			<div class="loginIcon"></div>
			<div class="loginName">User name</div>
			<div class="loginType">ADMIN</div>
			<a class="loginButton" href="/teacher/0">LOGIN</a>
		</div>
		
		<div class="loginUser">
			<div class="loginIcon"></div>
			<div class="loginName">User name</div>
			<div class="loginType">ADMIN</div>
			<a class="loginButton" href="/student/0">LOGIN</a>
		</div>
	</div>
	
	
</body>

</html>