<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Timetable</title>
	
	<link rel="stylesheet" th:href="@{/css/base.css}" />
	<link rel="stylesheet" th:href="@{/css/timetable.css}" />
	
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
	</style>
</head>

<body >
<a href="/admin/students">Back</a>
	<div class="container">
		<a th:text="${title}" class="textTitle"></a>
		<div class="timetableGrid">
			<div class="timetableDays">
				<div class="timetableDay">MONDAY</div>
				<div class="timetableDay">TUESEDAY</div>
				<div class="timetableDay">WEDNESDAY</div>
				<div class="timetableDay">THURSDAY</div>
				<div class="timetableDay">FRIDAY</div>
			</div>
			<div class="timetableTable">
				<div th:each="slot, iter: ${timetableSlots}" class="timetableItem" >
					<div class="timetableBackground" th:classappend="${slot != 99} ? lession : empty" th:if="${view == true and singleSlot == true}"></div>
					<!-- EDIT -->
					<div class="timetableBackground empty" th:if="${slot == 99 and edit == true and singleSlot == true}">
						<a class="timetableLink" th:href="@{/timetable/lession/{lessionId}/add_{slotId} (slotId=${iter.index}, lessionId=${lessionId})}">
							ADD</a>
					</div>
					
					<div class="timetableBackground remove" th:if="${slot != 99 and edit == true and singleSlot == true}">
						<a class="timetableLink" th:href="@{/timetable/lession/{lessionId}/remove_{slotId} (slotId=${iter.index}, lessionId=${lessionId})}" th:if="${slot != 99 and edit == true and singleSlot == true}">
							REMOVE </a>
					</div>
					
					
					
					<!-- MULTIPLE SLOTS -->
					<div th:if="${multipleSlots}" class="timetableItemGrid" >
						<div th:each="i: ${slot.value}" class="timetableItemGridItem"> 
							<div class="timetableTextSmall" th:text="${i.name}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body >
</html>