<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${title}"></title>
	
	<link rel="stylesheet" th:href="@{/css/base.css}" />
	<link rel="stylesheet" th:href="@{/css/list.css}" />
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
	</style>
</head>

<body >
	<a href="/admin/students">Back</a>
	<div class="container">
		<div th:text="${title}" class="textTitle"></div>
		<hr>
		<p class="textCategory">Current Lessions</p>
		<div class="listContainer">
			<a class="listButton" th:if="${student}" th:href="@{/timetable/student/{id}(id=${student.id})}"> VIEW TIMETABLE </a>
			<div th:each="listItem,iter :${list}" class="listItem">
				<div th:text="${listItem}" class="listText"></div>
				<div th:if="${buttons}" class="buttonContainer left">
					<a class="button" th:if="${student}" th:href="@{/student/{studentId}/remove_{lessionId} (studentId=${student.id}, lessionId=${listItem.id})}"> 
						<p class="textButton"> REMOVE </p> </a>
					<a class="button" th:href="@{/timetable/lession/{id}(id=${lessions[iter.index].id - 1})}"> <p class="textButton"> TIMETABLE </p> </a>
					<a class="button" th:if="${teacher}" th:href="@{/lession/{id}(id=${lessions[iter.index].id - 1})}" > <p class="textButton"> STUDENTS</p> </a>
				</div>
			</div>
		</div>
		<hr>
		<div th:if="${student}">
			<p class="textCategory" >Avalible Lessions</p>
			<div class="listContainer">
				<div th:each="listItem,iter :${avalibleList}" class="listItem">
					<div th:text="${listItem}" class="listText"></div>
					<div th:if="${buttons}" class="buttonContainer left">
						<a class="button" th:href="@{/student/{studentId}/add_{lessionId} (studentId=${student.id}, lessionId=${listItem.id})}"> <p class="textButton"> ADD </p> </a>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
</body >
</html>